<div class="pageOne">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin-right:50px">Contact <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
  <h1 class="text-center title block">Unify Messenger</h1>
  
</div>


<div class="pageTwo" id="p2">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fa fa-university fa-3x" aria-hidden="true"></i>
        <h2>Hi</h2>
      </div>
      <div class="col-md-4">
        <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
        <h2>Hi</h2>
      </div>
      <div class="col-md-4">
        <i class="fa fa-comments fa-3x" aria-hidden="true"></i>
        <h2>Hi</h2>
      </div>
    </div>
  </div>
</div>