<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="https://drive.google.com/uc?export=view&id=0B382sh-THM-ObWpBOVVwbFVibmM" width="40" height="40" class="d-inline-block align-middle" alt="">
           Unify
        </a>
      </nav>
      
      <div class="login">
        <h2 class="headline">Your University's group chat community</h2>
        <h6 style="margin-top:30px">Unify allows you to easily find, join, and discover all the essential university group chats relevant to you.</h6>
        <form class="form-inline email">
          <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 input-email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Email">
          <button type="submit" class="btn btn-primary email-button">Join</button>
        </form>
        <i style="margin-top:30px" class="fa fa-arrow-up fa-2x arrow" aria-hidden="true"></i>
        
      </div>

    </div>
    
     <div class="col-md-6 text-center right">
      <div class="row">
        <div class="col-md-12 row-height">
          <span class="fa-stack fa-3x icons">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-graduation-cap fa-stack-1x"></i>
          </span>
          <h6 style="padding:30px;">An exclusive community of students.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <span class="fa-stack fa-3x icons">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x"></i>
          </span>
          <h6 style="padding:30px;">Instantly find and join the university group chats you want to be a part of.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <span class="fa-stack fa-3x icons">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x"></i>
          </span>
          <h6 style="padding:30px;">Ask your classmates questions, get support, exchange useful resources.</h6>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- 
    
    
    
    <div class="col-md-2 right1">
      <i class="fa fa-graduation-cap fa-3x icons" aria-hidden="true"></i>
      <br>
      <i class="fa fa-users fa-3x icons" aria-hidden="true"></i>
      <br>
      <i class="fa fa-comments fa-3x icons" aria-hidden="true"></i>
    </div>
    
    <div class="col-md-4 right2">
      <p style="margin-top: 60px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>