<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-12">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="https://drive.google.com/uc?export=view&id=0B382sh-THM-ObWpBOVVwbFVibmM" width="40" height="40" class="d-inline-block align-middle" alt="">
           Unify
        </a>
      </nav>
      
      <div class="congratulations">
        <i class="fa fa-trophy fa-3x" style="color:gold;"></i>
        <h1 style="margin-top:30px;">Congratulations</h1>
        <h5 style="margin-top:30px;">You'll be first to be updated when Unify Messenger releases!</h5>
      </div>
      
    </div>
  </div>
</div>