<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      
      <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/pigeon.png"width="40" height="40" class="d-inline-block align-middle" alt="">
          Unify
        </a>
      </nav>
      
      <div class="login">
        <h2 class="headline">Your University's group chat community</h2>
        <h6 style="margin-top:30px">Unify allows you to easily find, join, and discover all the essential university group chats relevant to you.</h6>
        <%= form_for @subscriber do |f| %>
          <div class="form-inline email">
            <%= f.text_field :email, class: 'form-control mb-2 mr-sm-2 mb-sm-0', autocomplete: false, autocorrect: false, autocapitalize: false, spellcheck: false, placeholder: "Email" %>
            <%= f.submit 'Join', class: 'btn btn-primary email-button' %>
          </div>
        <% end %>
        <div style="margin-top:10px">
          <% flash.each do |type, msg| %>
            <%= content_tag :div, msg, class: "alert alert-#{type}" %>
          <% end %>
        </div>
        <div class="social">
          <a class="btn btn-outline-primary" href="https://www.facebook.com/unifymessenger/" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          <a class="btn btn-outline-primary" href="https://www.instagram.com/startup_edinburgh/" role="button"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    
     <div class="col-md-6 text-center right">
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="fa-4x icons">
            <span class="fa-layers fa-fw">
              <i class="far fa-circle"></i>
              <i class="fab fa-facebook-messenger" data-fa-transform="shrink-7"></i>
            </span>
          </div>
          <h6 class="benefit">Connect to your Facebook Messenger account.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="fa-4x icons">
            <span class="fa-layers fa-fw">
              <i class="far fa-circle"></i>
              <i class="fas fa-graduation-cap" data-fa-transform="shrink-8"></i>
            </span>
          </div>
          <h6 class="benefit">Instantly find and join the university group chats you want to be a part of.</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 row-height">
          <div class="fa-4x icons">
            <span class="fa-layers fa-fw">
              <i class="far fa-circle"></i>
              <i class="fas fa-comments" data-fa-transform="shrink-8"></i>
            </span>
          </div>
          <h6 class="benefit">Ask your classmates questions, get support, exchange useful resources.</h6>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!-- <a class="btn btn-outline-primary" href="https://www.facebook.com/unifymessenger/" role="button"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>