/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body, html {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif; font-weight:700;
}

.navbar {
  font-family: Ubuntu;
  font-size: 1.2em;
  font-weight:700;
}

.pageOne {
  background:url(https://images.unsplash.com/20/cambridge.JPG?auto=format&fit=crop&w=1030&q=80);
  background-size:cover;
  overflow:auto;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  margin-top: 35%;
  width:80%;
  color: white;
}

.pageTwo {
  background-color: white;
  height: 400px;
  overflow:auto;
}

.block {
  opacity:.8;
  padding:20px;
  width:30%;
  margin-right:auto;
  margin-left:auto;
  border-radius:20px;
  margin-top:38%;
}

.benefit {
  height: 400px;
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height:400px;
}

.feature {
  padding: 60px;
}